.banner{
    text-align: center;
    background: #f6c403;
    min-height: 300px;
    padding: 32px 16px;
   
}
.profile-pic{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.name{
    font-size: 32px;
    font-weight: 700; 
}
.designation, .location{
    font-size: 24px;
    font-weight: 500;
    color: #243763;
}
.social-icon {
    width: 40px;
    height: 40px;
    margin: 16px 16px 0px 0px;
    cursor: pointer;
}