:host() {
    --yellow: #f9ba49;
    --dark-blue: #0c2451;
    --white: #ffffff;
    --dark-gray: #6D6D6D;
    --light-blue: #0076d3;
    --light-gray: #cecece;
    --light-red: #e91515;
    --font-16: 16px;
}

.app {
    background: var(--dark-blue);
    width: 100%;
    min-height: 100vh;
    font-size: var(--font-16);
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 300px;
    width: 300px;
    background: var(--white);
    border-radius: 12px;
    margin: 12px;
    padding: 0;
   
    display: flex;
    flex-direction: column;
    overflow: hidden;
    }


.box-center {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dotted-circle {
    border: 2px dashed var(--dark-blue);
    border-radius: 50%;
    padding: 16px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    
}

.custom-icon {
    --slds-c-icon-color-foreground-default: var(--dark-blue);
}
.edit-icon{
    --slds-c-icon-color-background: var(--dark-blue);
}
.delete-icon{
    --slds-c-icon-color-background: var(--light-red);
}
header {
    background-color: var(--light-blue);
    padding: 12px 16px;
}
header h2 {
    color: var(--white);
    margin: 0;
    font-size: 18px;
}
.notes {
   height: 221px;
   overflow: auto;
   padding: 4px 16px;
}

footer {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    background: var(--light-gray);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.date {
    color: var(--dark-gray);
    font-size: 14px;
    font-style: italic;
}

.icon-group {
    display: flex;
    gap: 4px;
    align-items: center;
}

